body{
    background-color: aquamarine; font-family: Cambria, Cochin, Georgia;
}
h1{
    color: brown; font-family: monospace; font-weight: 900;
}
h2{
    color: chocolate; font-family: serif; font-weight: 800;
}
